# This workflow will build the Docker container and tag it in preparation for deployment.

name: Containerize

on: workflow_dispatch

permissions:
    id-token: write

jobs:
    containerize:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repository
              uses: actions/checkout@v3

            - name: Configure AWS credentials
              uses: aws-actions/configure-aws-credentials@v4
              with:
                  role-to-assume: arn:aws:iam::182355917439:role/github-oidc-Role-BOuiwlWTpXRC
                  aws-region: us-east-1

            - name: Login to Amazon ECR
              id: login-ecr
              uses: aws-actions/amazon-ecr-login@v2

            - name: Build, tag, and push docker image to Amazon ECR
              env:
                  REGISTRY: ${{ steps.login-ecr.outputs.registry }}
                  REPOSITORY: aoc2023
                  LONG_TAG: ${{ github.sha }}
              run: |
                  export IMAGE_TAG=$(git rev-parse --short $LONG_TAG)
                  docker build -t $IMAGE_TAG .
                  docker push $REGISTRY/$REPOSITORY:$IMAGE_TAG
